*,
::after,
::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e1e1e;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calculator {
  border-radius: 10px;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #0b0b0c;
  padding: 5px;
  background: black;
  width: 320px;
  position: relative;
  padding:10px;
}

.calculator input {
  width: 100%;
  height: 70px;
  background-color: rgb(54, 52, 52);
  color: #00ffcc;
  border: none;
  font-size: 2rem;
  text-align: right;
  padding: 10px 15px;
  margin-bottom: 2px;
  outline: none;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap:5px;
  width: 100%;
  margin-top: 10px;
  background-color: #333;
}
.calculator .button-grid button {
  background-color: #0c0b0b;
  color: #fff;
  font-size: 1.3rem;
  padding: 18px 0;
  cursor: pointer;
  transition: 0.2s ease;
  border-radius: 2px; 
  
}

.calculator button:active {
  transform: scale(0.95);
}

#clear{
  background-color: #e63946;
}
#clear, #zero{
  grid-column: span 2; 

}

.btn-clear:hover {
  background-color: #ff6b6b;
  color: #fff;
}
#equals {
  position:absolute;
  height:140px;
  width:70px;
  bottom:13px;
  right:10px;
  background-color: aqua;
}

button:hover {
  color: black;
  outline: 0.05em solid grey;
  z-index: 3;
}

.author {
  text-align: center;
  font-family: Share Tech Mono, sans;
  margin-top: 15px;
} 
#display{
  border-radius: 5px;
  background-color: green;
  border: 1px solid #0c0b0b;
} 